html, body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.draw-box {
  max-width: 640px;
  margin: 0 auto;
  .draw-tools {
    .draw-shape {
      input {
        display: none;
      }
      label {
        display: inline-block;
        width: 32px;
        height: 32px;
        background: white center/100% 100% no-repeat;
        span {
          display: none;
        }
      }
      input#shape-curve + label {
        background-image: url("./img/curve.png");
      }
      input#shape-curve:checked + label {
        background-image: url("./img/curve-active.png");
      }
      input#shape-line + label {
        background-image: url("./img/line.png");
      }
      input#shape-line:checked + label {
        background-image: url("./img/line-active.png");
      }
      input#shape-arrow + label {
        background-image: url("./img/arrow.png");
      }
      input#shape-arrow:checked + label {
        background-image: url("./img/arrow-active.png");
      }
      input#shape-rect + label {
        background-image: url("./img/rect.png");
      }
      input#shape-rect:checked + label {
        background-image: url("./img/rect-active.png");
      }
    }
    .draw-color {
      input[name=custom-color] {
        width: 32px;
        height: 32px;
        vertical-align: top;
        &.active {
          border: 1px solid #4c6ef5;
        }
      }
      label[for=color-custom] {
        line-height:32px;
        vertical-align: top;
      }
      input[type=radio] {
        display: none;
      }
      input[type=radio] + label {
        display: inline-block;
        box-sizing: content-box;
        padding: 4px;
        border: 1px solid gray;
        background: #f0f0f0;
        span {
          display: block;
          width: 20px;
          height: 20px;
        }
      }
      input:checked + label {
        border: 1px solid #4c6ef5;
        background: #fff;
      }
      label[data-color=red] span {
        background: red;
      }
      label[data-color=green] span {
        background: green;
      }
      label[data-color=blue] span {
        background: blue;
      }
      label[data-color=cyan] span {
        background: #0b7285;
      }
      label[data-color=grape] span {
        background: #862e9c;
      }
      label[data-color=indigo] span {
        background: #364fc7;
      }
      label[data-color=orange] span {
        background: #d9480f;
      }
    }
    .other {
      input {
        display: none;
      }
      label {
        display: inline-block;
        width: 32px;
        height: 32px;
        background: center/100% white no-repeat;
      }
      #weight-thin + label {
        background-image: url("./img/thin.png");
      }
      #weight-thin:checked + label {
        background-image: url("./img/thin-active.png");
      }
      #weight-normal + label {
        background-image: url("./img/normal.png");
      }
      #weight-normal:checked + label {
        background-image: url("./img/normal-active.png");
      }
      #weight-thick + label {
        background-image: url("./img/thick.png");
      }
      #weight-thick:checked + label {
        background-image: url("./img/thick-active.png");
      }
    }
  }
  .canvas-wrap {
    // width: 100%;
    height: 75vw;
    max-width: 640px;
    max-height: 480px;
    box-sizing: content-box;
    border: 1px solid #e0e0e0;
    // margin: 20px auto;
    overflow: hidden;
    canvas {
      width: 100%;
      height: 100%;
    }
  }
}

#svg-output {
  border: 1px solid green;
  width: 300px;
  height: 400px;
  img {
    width: 100%;
    height: 100%;
  }  
}
